[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
librosa = "*"
pandas = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.12"
